<h1>Welcome ads</h1>
<form [formGroup]="validateForm">
  <div>
    <label class="d-block" for="phone">Số điện thoại:</label>
    <input
      placeholder="Số điện thoại"
      type="text"
      name="phone"
      id="phone"
      formControlName="phone"
    />
  </div>
  <span
    class="text-error"
    *ngIf="
      validateForm.controls['phone'].errors &&
      validateForm.controls['phone'].touched
    "
  >
    Vui lòng nhập đủ thông tin</span
  >

  <div>
    <label class="d-block" for="password">Họ và tên:</label>
    <input
      placeholder="Họ và tên"
      type="name"
      name="name"
      id="name"
      formControlName="name"
    />
  </div>
  <span
    class="text-error"
    *ngIf="
      validateForm.controls['name'].errors &&
      validateForm.controls['name'].touched
    "
    >Vui lòng nhập đủ thông tin</span
  >
  <button (click)="submitForm()">Đăng nhập</button>
</form>
